.header, main, .sessao-de-artigos {
    display: none;
}

.dialog-box-default__btn-container {
    padding: 8px 15px;
}

.btn-fechar-aviso {
    font-size: 	24px;
    position: absolute;
    right: 0;
    top: 0px;
    padding: 4px 8px;
    background-color: transparent;
    color: #555;
}